UseColor: true

HeaderFilterRegex: '.*\.(h(pp)?|cuh)$'

Checks: >
    modernize-*,
    -modernize-concat-nested-namespaces,
    -modernize-use-trailing-return-type,
    -modernize-loop-convert,
    -modernize-use-nodiscard,
    -modernize-return-braced-init-list,
    -modernize-raw-string-literal,
    -modernize-use-auto,
    readability-*,
    -readability-magic-numbers,
    -readability-avoid-const-params-in-decls,
    -readability-redundant-access-specifiers,
    -readability-identifier-length,
    -readability-convert-member-functions-to-static,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    google-*,
    -google-runtime-int,
    cert-*,
    cppcoreguidelines-*,
    -cppcoreguidelines-avoid-magic-numbers,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-special-member-functions,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-type-union-access,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-type-cstyle-cast,
    -cppcoreguidelines-init-variables,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-no-malloc,
    performance-*,
    -performance-avoid-endl,
    clang-diagnostic-*,
    clang-analyzer-*,
    -clang-analyzer-cplusplus.NewDeleteLeaks,
    concurrency-*,
    -concurrency-mt-unsafe,
    misc-*,
    -misc-include-cleaner,
    -misc-const-correctness,
    -misc-non-private-member-variables-in-classes,
    hicpp-*,
    -hicpp-signed-bitwise,
    -hicpp-named-parameter,
    -hicpp-special-member-functions,
    -hicpp-no-array-decay,
    -hicpp-vararg,
    -hicpp-use-auto,
    -hicpp-no-malloc,
    -readability-named-parameter,
    -readability-function-cognitive-complexity,
    -readability-static-accessed-through-instance,
    -readability-implicit-bool-conversion,
    -abseil-*,
    boost-*,
    -boost-use-ranges

FormatStyle: "file"

WarningsAsErrors: >
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    -bugprone-empty-catch,
    -bugprone-exception-escape,
    clang-analyzer-*,
    concurrency-*,
    -concurrency-mt-unsafe,
    clang-diagnostic-*,
    performance-*,
    -performance-inefficient-string-concatenation
