---
BasedOnStyle: Google
---
Language: Cpp
Cpp11BracedListStyle: true
Standard: Cpp11
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
DerivePointerAlignment: false
PointerAlignment: Left
CommentPragmas: "^ NOLINT"
ColumnLimit: 100
IncludeCategories:
  - Regex: '^<(.*)(\.h>)$'
    Priority: 1
  - Regex: "^<"
    Priority: 2
  - Regex: '^"([a-zA-Z_]*)(\.h")$'
    Priority: 3
  - Regex: '^"(jemalloc|gtest|gflags|google|pistache|rapidjson)/'
    Priority: 5
  - Regex: '^"(zlog|zutil|z|zoo)/'
    Priority: 6
  - Regex: '^"(proto)/'
    Priority: 7
  - Regex: ".*"
    Priority: 8
---
