[Unit]
Description=cockpit-system Audio Process
After=sound.target network.target

[Service]
Type=simple
WorkingDirectory=/cockpit-system
ExecStart=/cockpit-system/current/bin/audio-service --config /cockpit-system/config/config.yaml
Restart=on-failure
RestartSec=2

[Install]
WantedBy=cockpit.target
