[Unit]
Description=cockpit-system Camera Process
After=network.target

[Service]
Type=simple
WorkingDirectory=/cockpit-system
ExecStart=/cockpit-system/current/bin/camera-service --config /cockpit-system/config/config.yaml
Restart=on-failure
RestartSec=2

[Install]
WantedBy=cockpit.target
