[Unit]
Description=cockpit-system Core Services
Wants=vehicle-data-service.service cockpit-gateway-service.service audio-service.service
Wants=voice-interaction-service.service camera-service.service recording-service.service
After=network.target sound.target

[Install]
WantedBy=multi-user.target
