[Unit]
Description=cockpit-system Vehicle Data Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/cockpit-system
ExecStart=/cockpit-system/current/bin/vehicle-data-service --config /cockpit-system/config/config.yaml --forever
Restart=on-failure
RestartSec=2

[Install]
WantedBy=cockpit.target
