[Unit]
Description=cockpit-system Voice Interaction Process
After=network.target audio-service.service cockpit-gateway-service.service
Requires=audio-service.service cockpit-gateway-service.service

[Service]
Type=simple
WorkingDirectory=/cockpit-system
ExecStart=/cockpit-system/current/bin/voice-interaction-service --config /cockpit-system/config/config.yaml
Restart=on-failure
RestartSec=2

[Install]
WantedBy=cockpit.target
